.login {
    width: 400px;
}

.line-login {
    display: block;
    background-color: #06C755;
    color: white;
    width: 350px;
    height: 48px;
    font-size: 1.25rem;
}

.line-login:hover {
    background-color: #00b100;
    color: white;
}