{% extends 'base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'create_number.css' %}" rel="stylesheet">
<link href="{% static 'base.css' %}" rel="stylesheet">
{% endblock css %}

{% block header %}
<div class="alert alert-dark mb-5 rounded-0 row" role="alert">
    <h1 class="col-4 title">ワンナイト人狼 Memo</h1>
    <a href="{% url 'logout' %}" class="col-2 offset-6 my-auto">ログアウト</a>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container text-center">
    <div class="border border-2 rounded py-3 mb-4">
        <p class="setting-role">役職人数の設定</p>
        <form action="" method="POST">{% csrf_token %}
            <div class="row mb-3">
                <div class="col-2 text-center offset-1">村人：{{ form.villager }}</div>
                <div class="col-2 text-center">占い師：{{ form.fortune_teller }}</div>
                <div class="col-2 text-center">怪盗：{{ form.thief }}</div>
                <div class="col-2 text-center text-danger">人狼：{{ form.werewolf }}</div>
                <div class="col-2 text-center text-danger">狂人：{{ form.madman }}</div>
            </div>
            <div hidden>{{ form.username }}</div>
            <input type="submit" value="決定" class="btn btn-primary">
        </form>
    </div>
</div>
{% else %}
<div class="container text-center">
    <p>ログインしてください</p>
    <a href="{% url 'login' %}" role="button" class="btn btn-outline-primary mt-3">ログイン</a>
</div>
{% endif %}
{% endblock content %}