{% extends 'base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'delete.css' %}" rel="stylesheet">
<link href="{% static 'base.css' %}" rel="stylesheet">
{% endblock css %}

{% block header %}
<div class="alert alert-dark mb-5 rounded-0 row" role="alert">
    <h1 class="col-4 title">ワンナイト人狼 Memo</h1>
    <a href="{% url 'logout' %}" class="col-2 offset-6 my-auto">ログアウト</a>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container text-center">
    <div class="border border-2 rounded py-3 mb-4">
        <p class="delete-message">このユーザーデータを削除しますか？</p>
        <p class="delete-user">{{ object.name }}</p>
        <form action="" method="POST">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="削除">
        </form>
    </div>
    <a href="{% url 'list' %}">元の画面に戻る</a>
</div>
{% else %}
<div class="container text-center">
    <p>ログインしてください</p>
    <a href="{% url 'login' %}" role="button" class="btn btn-outline-primary mt-3">ログイン</a>
</div>
{% endif %}
{% endblock content %}