{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
    .login {
        width: 400px;
    }

    .line-login {
        display: block;
        background-color: #06C755;
        color: white;
        width: 350px;
        height: 48px;
        font-size: 1.25rem;
    }

    .line-login:hover {
        background-color: #00b100;
        color: white;
    }
</style>
{% endblock css %}

{% block content %}

<body class="text-center">
    <main class="form-sign-in">
        <h3 class="mt-3">{{ subscribe }}</h3>
        <div class="login border border-1 border-secondary rounded p-4 mx-auto mt-5">
            <h2 class="mb-3">ワンナイト人狼 Memo</h2>
            <form method="POST">{% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">ログイン</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username" />
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="password" />
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
                    ログイン
                </button>
            </form>
        </div>
        <p><a href="{% url 'line_login' %}"
                class="line-login border rounded py-2 mx-auto my-3 text-decoration-none d-flex align-items-center justify-content-center">LINEでログイン</a>
        </p>
        <a href="{% url 'sign_up' %}" role="button" class="btn btn-outline-secondary mt-3">新規登録</a>
    </main>
</body>
{% endblock content %}